name: Build Run - Multi-arch Build & Push to Harbor

on:
  workflow_dispatch:
  
env:
  REGISTRY: harbor.bnov.net
  PROJECT: carris
  APP_NAME: carris-web-ui
  FULL_IMAGE: harbor.bnov.net/carris/carris-web-ui

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}


      - name: Build and push (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.FULL_IMAGE }}:build-${{ github.run_number }}
            ${{ env.FULL_IMAGE }}:latest
